<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>JLPT語彙学習</title>
    <!-- css ファイルを呼び出す -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <h1>JLPT語彙学習アプリ</h1>
    </header>
    <main>
        <a href="{% url 'wordle:study' %}" class="menu-button">語彙勉強</a>
        <a href="{% url 'wordle:quiz' %}" class="menu-button">ワードル</a>
    </main>
    <footer>
        <a href="https://github.com/elzup/jlpt-word-list" target="_blank" rel="noopener noreferrer">使用したJLPT語彙データ</a>
    </footer>
</body>

</html>